.shudan-goban {
    --shudan-board-border-width: 0;
    --shudan-board-foreground-color: #ead20a;

    --shudan-black-background-color: #0E0E0E;
    --shudan-black-foreground-color: #eee;

    --shudan-white-background-color: #EBEBEB;
    --shudan-white-foreground-color: #eee;
}

.shudan-goban-image {
  /* Board texture */
  background-image: url('images/MarbleBoard.png');
}

.shudan-stone-image.shudan-sign_1 {
    background-image: url('images/MahoganyStone0.png');
}

.shudan-stone-image.shudan-sign_1.shudan-random_1 {
    background-image: url('images/MahoganyStone1.png');
}

.shudan-stone-image.shudan-sign_1.shudan-random_2 {
    background-image: url('images/MahoganyStone2.png');
}

.shudan-stone-image.shudan-sign_1.shudan-random_3 {
    background-image: url('images/MahoganyStone3.png');
}

.shudan-stone-image.shudan-sign_1.shudan-random_4 {
    background-image: url('images/MahoganyStone4.png');
}

.shudan-stone-image.shudan-sign_-1 {
    background-image: url('images/AventurineStone0.png');
}

.shudan-stone-image.shudan-sign_-1.shudan-random_1 {
    background-image: url('images/AventurineStone1.png');
}

.shudan-stone-image.shudan-sign_-1.shudan-random_2 {
    background-image: url('images/AventurineStone2.png');
}

.shudan-stone-image.shudan-sign_-1.shudan-random_3 {
    background-image: url('images/AventurineStone3.png');
}

.shudan-stone-image.shudan-sign_-1.shudan-random_4 {
    background-image: url('images/AventurineStone4.png');
}

/* The default dark grey background was producing noticeable
 * dark rings around the white stones when viewing a 9x9 board
 * fullscreen. The following 2 settings provide matching
 * light and dark backgrounds for the white and black stones.
 */

.shudan-vertex.shudan-sign_1 .shudan-shadow {
    background: #472b25;
}

.shudan-vertex.shudan-sign_-1 .shudan-shadow {
    background: #3b3c3d;
}

.shudan-vertex:not(.shudan-sign_0) .shudan-shadow {
    box-shadow: 0 0 0;
    filter: drop-shadow(0.224em 0.151em 0.05em rgb(0 0 0 / 80%));
}

/* make the grid lines thicker */
rect.shudan-gridline.shudan-horizontal, rect.shudan-gridline.shudan-vertical {
    stroke-width: 0.04em;
    stroke: var(--shudan-board-foreground-color);
}

main {background: #f0f0f0 url('images/TiledFloor.png') left top;}
