.shudan-goban {
    --shudan-board-border-width: 0;
    --shudan-board-foreground-color: #222;

    --shudan-black-background-color: #0E0F0E;
    --shudan-black-foreground-color: #eee;

    --shudan-white-background-color: #EBEBEB;
    --shudan-white-foreground-color: #666;
}

.shudan-goban-image {
  /* Board texture */
  background-image: url('images/BambooBoard.png');
}

.shudan-stone-image.shudan-sign_1 {
    background-image: url('images/GreenStone.png');
}

.shudan-stone-image.shudan-sign_-1 {
    background-image: url('images/YellowStone.png');
}

.shudan-vertex.shudan-sign_-1 .shudan-shadow {
    background: #a99e7a;
}

.shudan-vertex.shudan-sign_1 .shudan-shadow {
    background: #36220e;
}

.shudan-vertex:not(.shudan-sign_0) .shudan-shadow {
    box-shadow: 0 0 0;
    filter: drop-shadow(0.057em 0.057em 0.03em rgb(0 0 0 / 90%));
}

rect.shudan-gridline.shudan-horizontal, rect.shudan-gridline.shudan-vertical {
    stroke-width: 0.02em;
    stroke: var(--shudan-board-foreground-color);
}

main {
    background: #f0f0f0 url('images/Carpet.png') left top;
}
